@charset "utf-8";

/* Template for Sign Up Form */

#Background {
	background-image:url(../Images/sand_tessellation.jpg);
	background-repeat: repeat-y;
	background-size:100%;
}
	
#Container {
	background-color:white;
	opacity:0.8;
	width: 900px;
}

#Maincontent {
	background-color:transparent;
	width: 900px;
	margin:70px;
	float: left;
	padding:5%;
	font-size:18px;
}